.markdown h1 {
  font-size: 2em;
}

.markdown h2 {
  font-size: 1.8em;
}

.markdown h3 {
  font-size: 1.6em;
}

.markdown h4 {
  font-size: 1.4em;
}

.markdown h5 {
  font-size: 1.2em;
}

.markdown h6 {
  font-size: 1em;
}

.markdown ol, .markdown ul {
  padding-left: 8px;
  list-style-type: disc;

}

.markdown li {
  margin-bottom: 8px;
}

.markdown p {
  margin-bottom: 8px;
}

/*
styling for rendered markdown
# note:
the rendered markdown must be wrapped in a container with a class of 'markdown'
*/
